* {
    padding: 0px;
    margin: 0px;
    /* background-color: red; */
}
#login_form{
    margin-top: -600px;
    margin-left: 350px;
}
.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    /* background-color: white; */
    font-family: 'system-ui';
    box-shadow: 10px 5px 10px rgb(0,0,0,0.3);
    opacity: 0.9;
    /* background-color: black; */
}
.form_class .dontHave{
    color: white;
}
.form_div {
    text-transform: uppercase;
    color: white;
}
.form_div > label {
    letter-spacing: 0px;
    /* font-size: 1rem; */
    font-style: italic;
}
.info_div {
    text-align: center;
    margin-top: 20px;
}
.info_div {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 2px;
    /* border-style: solid; */
    border-width: 0.5px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 12px;
    letter-spacing: 1px;
    background-color:transparent;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: white;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}


